
.fullscreen-modal
{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    margin: 0;
}

.fullscreen-modal .ant-modal 
{
    height: 100dvh;
    width: 100vw;
    margin: 0;
    top: 0;
}

.fullscreen-modal .ant-modal-content
{
    height: 100dvh;
    width: 100vw;
    margin: 0;
    top: 0;
}


.fullscreen-modal .ant-modal-body 
{
    height: calc(100dvh - 100dvh/100*5);
}